<h1>New Tasks</h1>
<%= form_for :task, url: tasks_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

    <p>
      <%= f.label :task_type %>
      <%= f.text_field :task_type %>
    </p>

    <p>
      <%= f.submit %>
    </p>
    <%= link_to 'Back', articles_path %>
<% end %>